/* Basic Styles */

/* Font Styling */
.bold { font-weight: bold; }
.italic {font-style: italic;}

/* Wrap long things, like access_token values */
.break-all {
  word-break: break-all;
}

.modal {
	  width: 600px;
	  margin-left: -300px;
}

