<?php

$config = array(
  'AppId' => 'YOUR_APP_ID',
  'AppSecret' => 'YOUR_APP_SECRET',
  'CanvasUrl' => 'https://apps.facebook.com/<YOUR_NAMESPACE>',
  'namespace' => 'YOUR_NAMESPACE',
	'github-url' => 'https://github.com/colmdoyle/colms-sandbox',
	'graph-explorer' => 'https://developers.facebook.com/tools/explorer/?method=GET&path=',
	'fb-debug' => 'https://developers.facebook.com/tools/debug?q=',
);

